* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    justify-content: center;
    place-items: center;
}

.cart {
    width: 300px;
    background: black;
    color: red;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
    animation: Mr 1s ease-in-out infinite;
}

@keyframes Mr {
    0% {
        background: red;
        transform: rotate(0deg);
        transform-style: initial;
    }

    50% {
        background: yellow;
        transform: rotate(360deg);
        transform-style: initial;
    }

    100% {
        background: green;
        transform: rotate(0deg);
        transform-style: initial;
    }
}

.cart img {
    width: 100%;
    animation: salom 1s ease-in-out infinite;
}

@keyframes salom {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cart h1 {
    font-family: sans-serif;
    font-size: 33px;
    margin-top: 30px;
}

.cart p {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 30px;
}