* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
}


.cart {
    background: pink;
    z-index: 4;
    left: 44%;
    top: 34%;
    background: gray;
}

.cart-one {
    background: red;
    z-index: 2;
    left: 0;
}

.cart-three {
    background: purple;
    z-index: 3;
    right: 0;
    bottom: 0;
}

.cart-four {
    background: green;
    z-index: 2;
    right: 0;
}

.cart-five {
    background: blue;
    bottom: 0;
}