        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100px 100px 100px;

            /* Sets both row and column gaps to 20px */
            gap: 20px;
            /* Make gap between rows as 10px (override) */
            row-gap: 10px;
            /* Make gap between columns as 5px (override) */
            column-gap: 5px;
        }

        .grid-item {
            background-color: #4CAF50;
            border: 1px solid #ddd;
            padding: 20px;
            text-align: center;
            font-size: 1.2em;
            color: white;
        }